

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: never
    include-stacktrace: never
    include-exception: true

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/library_management_v2_db
    username: db_user
    password: db_password
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      format-sql: true



logging:
  file:
    name: log/library.log
  pattern:
    file: "%d %-5level [%thread] %logger:%msg%n"
  level:
    '[org.springframework.web]' : WARN
    '[org.hibernate]' : INFO
    '[com.yigiter.librarymanagement]' : DEBUG

management: #actuator
  endpoints:
    web:
      exposure:
        include: '*'
  info:
    env:
      enabled: true
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: true

LibraryManagement:
  app:
    jwtSecret: library@!10
    jwtExpirationMs: 86400000


info:
  application:
    name: 'Library Management System Application'
    description: 'Created Library Management System by Yigiter'
    version: '@project.version@'


